<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="SqlConfigurableRetryLogicConnection"
        type="Microsoft.Data.SqlClient.SqlConfigurableRetryConnectionSection, Microsoft.Data.SqlClient"/>
	</configSections>
	<SqlConfigurableRetryLogicConnection retryMethod ="CreateExponentialRetryProvider"
						numberOfTries ="5" deltaTime ="00:00:03" maxTime ="00:00:45"/>
	<connectionStrings>
		<add name="LocalDbConnection" connectionString="Server=tcp:moraschi.database.windows.net,1433;Initial Catalog=mini-chat;Persist Security Info=False;User ID=AppUser;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;Password="/>
	</connectionStrings>
</configuration>
